
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<h3>information about my CV and Letter</h3>

<h4>CV</h4>

<div>
    <object data="~/data/cv.pdf" type="application/pdf" width="960" height="400"></object>
    @*<p><a href="~/data/cv.pdf">Download CV</a></p>*@
</div>

<h4>Letter</h4>

<div>
    <object data="~/data/brev.pdf" type="application/pdf" width="960" height="400"></object>
    @*<p><a href="~/data/brev.pdf">Download Letter</a></p>*@
</div>
