
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>Assignments and projects I have finished</p>

<h3>Front-End</h3>
<p>Front-End, Assignment 1 - HTML</p>
<p>Front-End, Assignment 2 - CSS</p>
<p>Front-End, Assignment 3 - Bootstrap</p>
<h3>Front-End-2</h3>
<p>Front-End-2, Assignment 1 - JavaScript</p>
<p>Front-End-2, Assignment 2 - jQuery</p>
<p>Front-End-2, Assignment 3 - Sokoban</p>